<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.recruitment.mapper.RecruitmentInfoMapper">
    
    <resultMap type="RecruitmentInfo" id="RecruitmentInfoResult">
        <result property="recruitmentId"    column="Recruitment_Id"    />
        <result property="recruitmentPositionname"    column="Recruitment_PositionName"    />
        <result property="recruitmentName"    column="Recruitment_Name"    />
        <result property="recruitmentTelephone"    column="Recruitment_Telephone"    />
        <result property="recruitmentNumber"    column="Recruitment_Number"    />
        <result property="recruitmentSalary"    column="Recruitment_Salary"    />
        <result property="recruitmentRequirement"    column="Recruitment_Requirement"    />
    </resultMap>

    <sql id="selectRecruitmentInfoVo">
        select Recruitment_Id, Recruitment_PositionName, Recruitment_Name, Recruitment_Telephone, Recruitment_Number, Recruitment_Salary, Recruitment_Requirement from recruitment_info
    </sql>

    <select id="selectRecruitmentInfoList" parameterType="RecruitmentInfo" resultMap="RecruitmentInfoResult">
        <include refid="selectRecruitmentInfoVo"/>
        <where>  
            <if test="recruitmentPositionname != null  and recruitmentPositionname != ''"> and Recruitment_PositionName like concat('%', #{recruitmentPositionname}, '%')</if>
            <if test="recruitmentName != null  and recruitmentName != ''"> and Recruitment_Name like concat('%', #{recruitmentName}, '%')</if>
            <if test="recruitmentTelephone != null  and recruitmentTelephone != ''"> and Recruitment_Telephone = #{recruitmentTelephone}</if>
            <if test="recruitmentNumber != null  and recruitmentNumber != ''"> and Recruitment_Number = #{recruitmentNumber}</if>
            <if test="recruitmentSalary != null  and recruitmentSalary != ''"> and Recruitment_Salary = #{recruitmentSalary}</if>
            <if test="recruitmentRequirement != null  and recruitmentRequirement != ''"> and Recruitment_Requirement = #{recruitmentRequirement}</if>
        </where>
    </select>
    
    <select id="selectRecruitmentInfoByRecruitmentId" parameterType="Long" resultMap="RecruitmentInfoResult">
        <include refid="selectRecruitmentInfoVo"/>
        where Recruitment_Id = #{recruitmentId}
    </select>
        
    <insert id="insertRecruitmentInfo" parameterType="RecruitmentInfo" useGeneratedKeys="true" keyProperty="recruitmentId">
        insert into recruitment_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recruitmentPositionname != null">Recruitment_PositionName,</if>
            <if test="recruitmentName != null">Recruitment_Name,</if>
            <if test="recruitmentTelephone != null">Recruitment_Telephone,</if>
            <if test="recruitmentNumber != null">Recruitment_Number,</if>
            <if test="recruitmentSalary != null">Recruitment_Salary,</if>
            <if test="recruitmentRequirement != null">Recruitment_Requirement,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recruitmentPositionname != null">#{recruitmentPositionname},</if>
            <if test="recruitmentName != null">#{recruitmentName},</if>
            <if test="recruitmentTelephone != null">#{recruitmentTelephone},</if>
            <if test="recruitmentNumber != null">#{recruitmentNumber},</if>
            <if test="recruitmentSalary != null">#{recruitmentSalary},</if>
            <if test="recruitmentRequirement != null">#{recruitmentRequirement},</if>
         </trim>
    </insert>

    <update id="updateRecruitmentInfo" parameterType="RecruitmentInfo">
        update recruitment_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="recruitmentPositionname != null">Recruitment_PositionName = #{recruitmentPositionname},</if>
            <if test="recruitmentName != null">Recruitment_Name = #{recruitmentName},</if>
            <if test="recruitmentTelephone != null">Recruitment_Telephone = #{recruitmentTelephone},</if>
            <if test="recruitmentNumber != null">Recruitment_Number = #{recruitmentNumber},</if>
            <if test="recruitmentSalary != null">Recruitment_Salary = #{recruitmentSalary},</if>
            <if test="recruitmentRequirement != null">Recruitment_Requirement = #{recruitmentRequirement},</if>
        </trim>
        where Recruitment_Id = #{recruitmentId}
    </update>

    <delete id="deleteRecruitmentInfoByRecruitmentId" parameterType="Long">
        delete from recruitment_info where Recruitment_Id = #{recruitmentId}
    </delete>

    <delete id="deleteRecruitmentInfoByRecruitmentIds" parameterType="String">
        delete from recruitment_info where Recruitment_Id in 
        <foreach item="recruitmentId" collection="array" open="(" separator="," close=")">
            #{recruitmentId}
        </foreach>
    </delete>
</mapper>